In [104]:
# pip install pyspark

In [105]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, concat_ws, split

In [106]:
SparkSession

pyspark.sql.session.SparkSession

In [107]:
spark = SparkSession.builder.appName('Youtube_Data_Analysis').getOrCreate()

In [108]:
spark

In [109]:
spark.sparkContext

In [110]:
from pyspark.sql.types import StructType,StructField,StringType,IntegerType
from pyspark.sql.functions import *

In [111]:
# Load the CSV file without headers
# Read the CSV file with space separator
df = spark.read.csv('youtubedata.csv',header=False,inferSchema=True)
df.toPandas()

,_c0,_c1,_c2,_c3,_c4,_c5,_c6,_c7,_c8,_c9,...,_c13,_c14,_c15,_c16,_c17,_c18,_c19,_c20,_c21,_c22
0,QuRYeRnAuXM,EvilSquirrelPictures,1135.0,Pets & Animals,252.0,1075.0,4.96,46.0,86.0,gFa1YMEJFag,...,0TZqX5MbXMA,UEvVksP91kg,ZTopArY7Nbg,0RViGi2Rne8,HT_QlOJbDpg,YZev1imoxX8,8qQrrfUTmh0,zQ83d_D2MGs,u6_DQQjLsAw,73Wz9CQFDtE
1,3TYqkBJ9YRk,hggh22,1135.0,Comedy,169.0,228.0,5.00,5.0,3.0,QuRYeRnAuXM,...,nRcovJn9xHg,sVkuOk4jmCo,ZTopArY7Nbg,HT_QlOJbDpg,0RViGi2Rne8,ShhClb6J-NA,g9e1alirMhc,YZev1imoxX8,I4yKEK9o8gA,zQ83d_D2MGs
2,rSJ8QZWBegU,TimeGem,1135.0,Entertainment,95.0,356.0,4.31,13.0,1.0,QuRYeRnAuXM,...,nRcovJn9xHg,sVkuOk4jmCo,ZTopArY7Nbg,gBcu22Vv1nY,HT_QlOJbDpg,0RViGi2Rne8,ShhClb6J-NA,g9e1alirMhc,YZev1imoxX8,I4yKEK9o8gA
3,nRcovJn9xHg,wooochacha,1135.0,Entertainment,118.0,1115.0,2.23,57.0,73.0,QuRYeRnAuXM,...,ZTopArY7Nbg,gBcu22Vv1nY,HT_QlOJbDpg,0RViGi2Rne8,ShhClb6J-NA,g9e1alirMhc,YZev1imoxX8,I4yKEK9o8gA,zQ83d_D2MGs,1GKaVzNDbuI
4,UEvVksP91kg,johnx113,1135.0,Entertainment,83.0,281.0,2.67,9.0,16.0,gFa1YMEJFag,...,rSJ8QZWBegU,nRcovJn9xHg,sVkuOk4jmCo,ZTopArY7Nbg,HT_QlOJbDpg,0RViGi2Rne8,g9e1alirMhc,YZev1imoxX8,I4yKEK9o8gA,zQ83d_D2MGs
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4095,esCvu46qDaA,RSMFD,863.0,Entertainment,63.0,116929.0,4.84,182.0,222.0,8t4m5JM5r6Y,...,bhLbFGVduTA,tJGDW674hVo,TecLbWk8A3w,3Yb5YTEVlEo,e4yx1s-l6f8,yB62b8S3Ra4,2GHiAEeFQs0,pxcDZ9AohLM,G8OlUZEnyOA,M80K51DosFo
4096,kOZ8bRAO7YQ,RockstarGames,0.0,UNA,63.0,199361.0,4.79,1256.0,2410.0,None,...,None,None,None,None,None,None,None,None,None,None
4097,GSsVZcKHues,GTASite,1024.0,Entertainment,123.0,486752.0,4.86,1098.0,1764.0,TecLbWk8A3w,...,5-reBn0gUkg,PHLmbD_dLh4,bhLbFGVduTA,zwp3HEwA1oM,XjR5e2W8n8E,ka8xZhlMvps,pP3oC2pf_EU,YDgd4V0ILNw,q3qdBVDZrmE,hKSk1bW9qzw
4098,foKRqJGcbPQ,scrambledeggsTV,1100.0,Entertainment,136.0,13115.0,4.45,33.0,37.0,LzI9VyIjpDI,...,e4yx1s-l6f8,hKSk1bW9qzw,WWdESkWpKvI,2GHiAEeFQs0,GSsVZcKHues,q3qdBVDZrmE,IbEW4N3DmI0,odXW0Uaj8aU,z84ko4Xzn40,Qjj_uMubxP0
4099,-CYhSNHbeC8,rehab07,771.0,Entertainment,186.0,103556.0,4.30,277.0,220.0,wtVeF5bT6YQ,...,e4yx1s-l6f8,47EWHY3E5AM,uWIXSr5H_SI,cRqUsvTsbho,TecLbWk8A3w,yB62b8S3Ra4,27q5bD9e_ew,F5m4wyZxLq4,0n1plrwQwrk,GZ_ct8ad-dY

In [112]:
# Define the column names
column_names = [
    "Video ID", 
    "Video Uploader", 
    "Interval between YouTube Establishment and Video Upload",
    "Video Category", 
    "Video Length", 
    "Number of Views", 
    "Rating on the Video", 
    "Number of Ratings", 
    "Number of Comments", 
    "Related Video IDs"
]


# Rename the first 9 columns using the provided names
for i in range(len(column_names)):
    df = df.withColumnRenamed(f"_c{i}", column_names[i])

In [113]:
df.show()

+-----------+--------------------+-------------------------------------------------------+----------------+------------+---------------+-------------------+-----------------+------------------+-----------------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+
|   Video ID|      Video Uploader|Interval between YouTube Establishment and Video Upload|  Video Category|Video Length|Number of Views|Rating on the Video|Number of Ratings|Number of Comments|Related Video IDs|       _c10|       _c11|       _c12|       _c13|       _c14|       _c15|       _c16|       _c17|       _c18|       _c19|       _c20|       _c21|       _c22|
+-----------+--------------------+-------------------------------------------------------+----------------+------------+---------------+-------------------+-----------------+------------------+-----------------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+
|QuRYeRnAuXM|EvilSquirrelPictures|                                                 1135.0|  Pets & Animals|         252|           1075|               4.96|               46|                86|      gFa1YMEJFag|nRcovJn9xHg|3TYqkBJ9YRk|rSJ8QZWBegU|0TZqX5MbXMA|UEvVksP91kg|ZTopArY7Nbg|0RViGi2Rne8|HT_QlOJbDpg|YZev1imoxX8|8qQrrfUTmh0|zQ83d_D2MGs|u6_DQQjLsAw|73Wz9CQFDtE|
|3TYqkBJ9YRk|              hggh22|                                                 1135.0|          Comedy|         169|            228|                5.0|                5|                 3|      QuRYeRnAuXM|gFa1YMEJFag|UEvVksP91kg|rSJ8QZWBegU|nRcovJn9xHg|sVkuOk4jmCo|ZTopArY7Nbg|HT_QlOJbDpg|0RViGi2Rne8|ShhClb6J-NA|g9e1alirMhc|YZev1imoxX8|I4yKEK9o8gA|zQ83d_D2MGs|
|rSJ8QZWBegU|             TimeGem|                                                 1135.0|   Entertainment|          95|            356|               4.31|               13|                 1|      QuRYeRnAuXM|gFa1YMEJFag|UEvVksP91kg|3TYqkBJ9YRk|nRcovJn9xHg|sVkuOk4jmCo|ZTopArY7Nbg|gBcu22Vv1nY|HT_QlOJbDpg|0RViGi2Rne8|ShhClb6J-NA|g9e1alirMhc|YZev1imoxX8|I4yKEK9o8gA|
|nRcovJn9xHg|          wooochacha|                                                 1135.0|   Entertainment|         118|           1115|               2.23|               57|                73|      QuRYeRnAuXM|gFa1YMEJFag|UEvVksP91kg|3TYqkBJ9YRk|ZTopArY7Nbg|gBcu22Vv1nY|HT_QlOJbDpg|0RViGi2Rne8|ShhClb6J-NA|g9e1alirMhc|YZev1imoxX8|I4yKEK9o8gA|zQ83d_D2MGs|1GKaVzNDbuI|
|UEvVksP91kg|            johnx113|                                                 1135.0|   Entertainment|          83|            281|               2.67|                9|                16|      gFa1YMEJFag|QuRYeRnAuXM|3TYqkBJ9YRk|0TZqX5MbXMA|rSJ8QZWBegU|nRcovJn9xHg|sVkuOk4jmCo|ZTopArY7Nbg|HT_QlOJbDpg|0RViGi2Rne8|g9e1alirMhc|YZev1imoxX8|I4yKEK9o8gA|zQ83d_D2MGs|
|sVkuOk4jmCo|       marcosoycadiz|                                                 1135.0|  People & Blogs|          49|           1196|               3.67|                6|                 5|      yjt5v88-6Aw|sLrWjhvCoW8|dergWtU1tnE|Cs3TbaYxg_A|OOHsD-akNw0|9Vajm_u9TsI|ZW62z2-QfpA|4ki_fVDDlzs|WJ2WTPtijSc|8TknA5BqRBc|M2fcueuny7s|8Wd6y3Pb2yA|0aKz7qdtMj0|x50W-TW6yGg|
|ZTopArY7Nbg|         TroyChannel|                                                 1136.0|   Entertainment|         145|             11|                0.0|                0|                 0|      THM3FYUNyr8|pQPhV1mzh-g|NeIGddkjxJI|8-vZvDjh_3g|N6RuQAW1ALc|Dc_MIs3NzIQ|LsSendGJARs|MHADThckgkE|OTJGrqVOubA|BjU-c_aBXtc|dT1Hmv_2Qg8|apqOIWiKaXc|vX0vqQuXI9g|Gb7ztQ-baqo|
|0RViGi2Rne8|        OmnipotentSI|                                                 1135.0|   Entertainment|           9|            490|               2.31|               26|                15|      rSJ8QZWBegU|nRcovJn9xHg|0TZqX5MbXMA|UEvVksP91kg|gFa1YMEJFag|QuRYeRnAuXM|3TYqkBJ9YRk|HT_QlOJbDpg|ZTopArY7Nbg|g9e1alirMhc|YZev1imoxX8|I4yKEK9o8gA|zQ83d_D2MGs|1GKaVzNDbuI|
|HT_QlOJbDpg|   dumbasstheredneck|                                                 1095.0|          Comedy|          14|           1349|               2.09|               22|                13|      cdbp6rCVzRs|jVxz9wKEa3A|mUoRI-VnV6w|bGRB0Pwx_iM|B09qqpGr4Xo|6Xdg_elOGaY|8-7axRRXpfE|VO_mUdKmyds|1vGH08qoclk|eP94rcWKMNM|jFGu4xEvWUc|e7SnPCWPFxE|G_my4iaIYIM|e9y0_BgZU7g|
|ShhClb6J-NA|         thecrashguy|                                                 1136.0|   Entertainment|          61|             29|                0.0|                0|                 0|      8dEezTw8J_o|6DK-CJh6hTY|SArJyLS6T_Y|boRch04lh0I|yop2Ipym-ls|Ydnc_c4Afj0|HFaCubSrqdQ|tpUcCvJ9cio|8MrfxlBkHMQ|_CNGEzIuf_I|bKOzgNvNgTE|JJtHjzlBigU|fGkPWRrOTXA|oBqH_5mPxsc|
|g9e1alirMhc|      iamdanielisaac|                                                  541.0|          Comedy|         152|         483053|               4.65|             2689|              2932|      _i6OD_y_-AI|1GKaVzNDbuI|Bd61LnxqSng|97cWs8tW8mY|I4yKEK9o8gA|IBqQWAjBgmE|myQpL8_M980|WWqed9u6rr4|-mQH9DloKD8|2l6vwAIAqNU|E3XaD3Yu3qA|pFUYi7dp1WU|Dto7-3aOt8w|hiSmlmXp-aU|
|YZev1imoxX8|     threefirstnames|                                                 1135.0|   Entertainment|         253|             63|                5.0|                3|                 2|      ldZPDf2cwqI|-UvVtpmh4EQ|BzwpvskqHa4|OJtAoLrGA8Q|q5QOvQ8ZYUQ|MFmMssHR0Rc|vDuIB8Gv9GQ|3kITDVTeo-c|Dt5X1_3S_kM|P2OguaWyfzQ|vOAYUoiPkzA|_6ruNbrssO4|sSUu4ROj3FQ|n5Ngq0mKKzA|
|I4yKEK9o8gA|           djlogitek|                                                  964.0| News & Politics|         173|         106929|               4.39|             1010|              1484|      g9e1alirMhc|1GKaVzNDbuI|qCUYgddlvRM|J0Qu6eyyr4c|8n-nT-luFIw|q8XToX7aSdg|dzUNvEfYDEQ|WWqed9u6rr4|2l6vwAIAqNU|VWYX-LiQggc|gMuxyRbNLFM|IBqQWAjBgmE|JZekosYOmXc|DomumdGQSg8|
|1GKaVzNDbuI|             fatvids|                                                  690.0|          Comedy|         176|        2464486|                4.5|            13342|             11997|      Bd61LnxqSng|g9e1alirMhc|UrNqx1p95qs|sEJLOmVOpcU|WGV4u6GhGhw|Dto7-3aOt8w|I4yKEK9o8gA|p9CypIsNSvM|qJXYN3wFhgo|Vqiw-Kqtlr0|bnuaPr4hlCU|CKjha-rohzc|hSlo0T0CNI4|_i6OD_y_-AI|
|yuZhwV24PmM|          weneedhelp|                                                 1082.0| News & Politics|         213|          46183|               4.71|              280|               247|      hU9iCANi02o|xq8aopATYyw|g9e1alirMhc|I4yKEK9o8gA|HuTqgqhxVMc|QoMCoMMgeO0|6h3G-lMZxjo|b4LuFQJmS1Y|7ZVpPGxuafA|bfZ_gXCHaMw|1GKaVzNDbuI|9Fr1dm2Qdls|WWqed9u6rr4|L3gQfz8GC0o|
|zQ83d_D2MGs|   dumbasstheredneck|                                                 1095.0|          Comedy|          14|           1550|               1.57|               14|                 4|      HT_QlOJbDpg|cdbp6rCVzRs|gAHZ7DRyIgY|mUoRI-VnV6w|jFGu4xEvWUc|TEPH9ScDy1E|AK9_-sLF5M0|6Xdg_elOGaY|p4NVl4W6FHM|mCLw4iGZ7Ms|bGRB0Pwx_iM|ifTbWQW0w64|tPi04TrYskw|n00wAO4hg-U|
|DomumdGQSg8|           imgrown18|                                                  910.0|          Comedy|         224|         392908|                4.8|             1261|               829|      lVTS0iuo1EY|eOIFF_5ORGo|n7rlp3SLtus|u_9vYy-TCCk|kpq0zL-oW4M|J5z4Vs26-TI|b-iTzU_ZD4k|CvCqT9hkZiA|s5CqcdpwEq8|pvVo1290j1w|6g0XGKuC-ek|7TXjtbl2y3U|hpsra8ojBHQ|pqhlG9qYsR8|
|pFUYi7dp1WU|      StanleyJenkins|                                                 1106.0|          Comedy|         200|         110272|               4.07|             1011|               482|      _1haYY5pV18|ue5lVJuNlzQ|AkjUOT67hcU|Xw6xEYeUfj4|5e5tKtCoBfY|ZNfFc4-gV38|T4X8uj_SYPQ|IgVHe9CDQnU|l7Z818lnTK0|1piuJzS7H-4|1OErkBJ8Ha4|5MOriOpcgeQ|J5z4Vs26-TI|LpGZWsCapX4|
|2l6vwAIAqNU|        makemagazine|                                                  460.0|Film & Animation|         294|          71966|               4.07|              260|               229|      g9e1alirMhc|hiSmlmXp-aU|I4yKEK9o8gA|EGzHBtoVvpc|-mQH9DloKD8|IBqQWAjBgmE|LY0-Ya2YEoE|voQACEw_9EE|IiDQwQQsrL8|DomumdGQSg8|97cWs8tW8mY|NVOFmu2ZIqI|NfOPi0QO0FQ|gqHPYTUTToc|
|hiSmlmXp-aU|       bravenewfilms|                                                  440.0|   Entertainment|         168|         653840|               4.43|              198|               377|      ED6YaRl93CE|IBqQWAjBgmE|EGzHBtoVvpc|2l6vwAIAqNU|g9e1alirMhc|-mQH9DloKD8|I4yKEK9o8gA|1GKaVzNDbuI|wnDATe6MPrg|WWqed9u6rr4|97cWs8tW8mY|q65SsORdRO8|DomumdGQSg8|0GXjcE4gy7g|
+-----------+--------------------+-------------------------------------------------------+----------------+------------+---------------+-------------------+-----------------+------------------+-----------------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+-----------+
only showing top 20 rows

In [114]:
from pyspark.sql.functions import concat_ws, col

# Columns to combine: from _c10 to _c22
columns_to_combine = [col(f'_c{i}') for i in range(10, 23)]

# Combine all relevant columns into a single column called "Related Video IDs"
df = df.withColumn("Related Video IDs", concat_ws(" ", *columns_to_combine))

# Drop the original _c10 to _c22 columns
columns_to_drop = [f'_c{i}' for i in range(10, 23)]
df = df.drop(*columns_to_drop)

In [115]:

# Show the result
df.show()

+-----------+--------------------+-------------------------------------------------------+----------------+------------+---------------+-------------------+-----------------+------------------+--------------------+
|   Video ID|      Video Uploader|Interval between YouTube Establishment and Video Upload|  Video Category|Video Length|Number of Views|Rating on the Video|Number of Ratings|Number of Comments|   Related Video IDs|
+-----------+--------------------+-------------------------------------------------------+----------------+------------+---------------+-------------------+-----------------+------------------+--------------------+
|QuRYeRnAuXM|EvilSquirrelPictures|                                                 1135.0|  Pets & Animals|         252|           1075|               4.96|               46|                86|nRcovJn9xHg 3TYqk...|
|3TYqkBJ9YRk|              hggh22|                                                 1135.0|          Comedy|         169|            228|                5.0|                5|                 3|gFa1YMEJFag UEvVk...|
|rSJ8QZWBegU|             TimeGem|                                                 1135.0|   Entertainment|          95|            356|               4.31|               13|                 1|gFa1YMEJFag UEvVk...|
|nRcovJn9xHg|          wooochacha|                                                 1135.0|   Entertainment|         118|           1115|               2.23|               57|                73|gFa1YMEJFag UEvVk...|
|UEvVksP91kg|            johnx113|                                                 1135.0|   Entertainment|          83|            281|               2.67|                9|                16|QuRYeRnAuXM 3TYqk...|
|sVkuOk4jmCo|       marcosoycadiz|                                                 1135.0|  People & Blogs|          49|           1196|               3.67|                6|                 5|sLrWjhvCoW8 dergW...|
|ZTopArY7Nbg|         TroyChannel|                                                 1136.0|   Entertainment|         145|             11|                0.0|                0|                 0|pQPhV1mzh-g NeIGd...|
|0RViGi2Rne8|        OmnipotentSI|                                                 1135.0|   Entertainment|           9|            490|               2.31|               26|                15|nRcovJn9xHg 0TZqX...|
|HT_QlOJbDpg|   dumbasstheredneck|                                                 1095.0|          Comedy|          14|           1349|               2.09|               22|                13|jVxz9wKEa3A mUoRI...|
|ShhClb6J-NA|         thecrashguy|                                                 1136.0|   Entertainment|          61|             29|                0.0|                0|                 0|6DK-CJh6hTY SArJy...|
|g9e1alirMhc|      iamdanielisaac|                                                  541.0|          Comedy|         152|         483053|               4.65|             2689|              2932|1GKaVzNDbuI Bd61L...|
|YZev1imoxX8|     threefirstnames|                                                 1135.0|   Entertainment|         253|             63|                5.0|                3|                 2|-UvVtpmh4EQ Bzwpv...|
|I4yKEK9o8gA|           djlogitek|                                                  964.0| News & Politics|         173|         106929|               4.39|             1010|              1484|1GKaVzNDbuI qCUYg...|
|1GKaVzNDbuI|             fatvids|                                                  690.0|          Comedy|         176|        2464486|                4.5|            13342|             11997|g9e1alirMhc UrNqx...|
|yuZhwV24PmM|          weneedhelp|                                                 1082.0| News & Politics|         213|          46183|               4.71|              280|               247|xq8aopATYyw g9e1a...|
|zQ83d_D2MGs|   dumbasstheredneck|                                                 1095.0|          Comedy|          14|           1550|               1.57|               14|                 4|cdbp6rCVzRs gAHZ7...|
|DomumdGQSg8|           imgrown18|                                                  910.0|          Comedy|         224|         392908|                4.8|             1261|               829|eOIFF_5ORGo n7rlp...|
|pFUYi7dp1WU|      StanleyJenkins|                                                 1106.0|          Comedy|         200|         110272|               4.07|             1011|               482|ue5lVJuNlzQ AkjUO...|
|2l6vwAIAqNU|        makemagazine|                                                  460.0|Film & Animation|         294|          71966|               4.07|              260|               229|hiSmlmXp-aU I4yKE...|
|hiSmlmXp-aU|       bravenewfilms|                                                  440.0|   Entertainment|         168|         653840|               4.43|              198|               377|IBqQWAjBgmE EGzHB...|
+-----------+--------------------+-------------------------------------------------------+----------------+------------+---------------+-------------------+-----------------+------------------+--------------------+
only showing top 20 rows

In [116]:

from pyspark.sql.functions import col, regexp_replace

# Replace spaces with commas in the 'final_column' column
df = df.withColumn('Related Video IDs', regexp_replace(col('Related Video IDs'), ' ', ','))

In [117]:
df.toPandas()

,Video ID,Video Uploader,Interval between YouTube Establishment and Video Upload,Video Category,Video Length,Number of Views,Rating on the Video,Number of Ratings,Number of Comments,Related Video IDs
0,QuRYeRnAuXM,EvilSquirrelPictures,1135.0,Pets & Animals,252.0,1075.0,4.96,46.0,86.0,"nRcovJn9xHg,3TYqkBJ9YRk,rSJ8QZWBegU,0TZqX5MbXM..."
1,3TYqkBJ9YRk,hggh22,1135.0,Comedy,169.0,228.0,5.00,5.0,3.0,"gFa1YMEJFag,UEvVksP91kg,rSJ8QZWBegU,nRcovJn9xH..."
2,rSJ8QZWBegU,TimeGem,1135.0,Entertainment,95.0,356.0,4.31,13.0,1.0,"gFa1YMEJFag,UEvVksP91kg,3TYqkBJ9YRk,nRcovJn9xH..."
3,nRcovJn9xHg,wooochacha,1135.0,Entertainment,118.0,1115.0,2.23,57.0,73.0,"gFa1YMEJFag,UEvVksP91kg,3TYqkBJ9YRk,ZTopArY7Nb..."
4,UEvVksP91kg,johnx113,1135.0,Entertainment,83.0,281.0,2.67,9.0,16.0,"QuRYeRnAuXM,3TYqkBJ9YRk,0TZqX5MbXMA,rSJ8QZWBeg..."
...,...,...,...,...,...,...,...,...,...,...
4095,esCvu46qDaA,RSMFD,863.0,Entertainment,63.0,116929.0,4.84,182.0,222.0,"vOskZNJJII8,q3qdBVDZrmE,mLDLe024T_I,bhLbFGVduT..."
4096,kOZ8bRAO7YQ,RockstarGames,0.0,UNA,63.0,199361.0,4.79,1256.0,2410.0,
4097,GSsVZcKHues,GTASite,1024.0,Entertainment,123.0,486752.0,4.86,1098.0,1764.0,"vOskZNJJII8,_X5nHLOiAVo,cNION6wGuso,5-reBn0gUk..."
4098,foKRqJGcbPQ,scrambledeggsTV,1100.0,Entertainment,136.0,13115.0,4.45,33.0,37.0,"_X5nHLOiAVo,5-reBn0gUkg,e8bEzU2Tx7c,e4yx1s-l6f..."
4099,-CYhSNHbeC8,rehab07,771.0,Entertainment,186.0,103556.0,4.30,277.0,220.0,"EOj-iWkcJPU,pg3j4IBMRZE,2GHiAEeFQs0,e4yx1s-l6f..."

In [118]:
df.count()

4100

In [119]:
# Drop Null Values

In [120]:
df_cleaned=df.dropna(how="any")

In [121]:
df_cleaned.count()

4066

In [122]:
df_cleaned.printSchema()

root
 |-- Video ID: string (nullable = true)
 |-- Video Uploader: string (nullable = true)
 |-- Interval between YouTube Establishment and Video Upload: double (nullable = true)
 |-- Video Category: string (nullable = true)
 |-- Video Length: integer (nullable = true)
 |-- Number of Views: integer (nullable = true)
 |-- Rating on the Video: double (nullable = true)
 |-- Number of Ratings: integer (nullable = true)
 |-- Number of Comments: integer (nullable = true)
 |-- Related Video IDs: string (nullable = false)

In [123]:
data=df_cleaned

In [124]:
data.count()

4066

In [125]:
data.toPandas()

,Video ID,Video Uploader,Interval between YouTube Establishment and Video Upload,Video Category,Video Length,Number of Views,Rating on the Video,Number of Ratings,Number of Comments,Related Video IDs
0,QuRYeRnAuXM,EvilSquirrelPictures,1135.0,Pets & Animals,252,1075,4.96,46,86,"nRcovJn9xHg,3TYqkBJ9YRk,rSJ8QZWBegU,0TZqX5MbXM..."
1,3TYqkBJ9YRk,hggh22,1135.0,Comedy,169,228,5.00,5,3,"gFa1YMEJFag,UEvVksP91kg,rSJ8QZWBegU,nRcovJn9xH..."
2,rSJ8QZWBegU,TimeGem,1135.0,Entertainment,95,356,4.31,13,1,"gFa1YMEJFag,UEvVksP91kg,3TYqkBJ9YRk,nRcovJn9xH..."
3,nRcovJn9xHg,wooochacha,1135.0,Entertainment,118,1115,2.23,57,73,"gFa1YMEJFag,UEvVksP91kg,3TYqkBJ9YRk,ZTopArY7Nb..."
4,UEvVksP91kg,johnx113,1135.0,Entertainment,83,281,2.67,9,16,"QuRYeRnAuXM,3TYqkBJ9YRk,0TZqX5MbXMA,rSJ8QZWBeg..."
...,...,...,...,...,...,...,...,...,...,...
4061,esCvu46qDaA,RSMFD,863.0,Entertainment,63,116929,4.84,182,222,"vOskZNJJII8,q3qdBVDZrmE,mLDLe024T_I,bhLbFGVduT..."
4062,kOZ8bRAO7YQ,RockstarGames,0.0,UNA,63,199361,4.79,1256,2410,
4063,GSsVZcKHues,GTASite,1024.0,Entertainment,123,486752,4.86,1098,1764,"vOskZNJJII8,_X5nHLOiAVo,cNION6wGuso,5-reBn0gUk..."
4064,foKRqJGcbPQ,scrambledeggsTV,1100.0,Entertainment,136,13115,4.45,33,37,"_X5nHLOiAVo,5-reBn0gUkg,e8bEzU2Tx7c,e4yx1s-l6f..."
4065,-CYhSNHbeC8,rehab07,771.0,Entertainment,186,103556,4.30,277,220,"EOj-iWkcJPU,pg3j4IBMRZE,2GHiAEeFQs0,e4yx1s-l6f..."

In [126]:
data.describe().toPandas()

,summary,Video ID,Video Uploader,Interval between YouTube Establishment and Video Upload,Video Category,Video Length,Number of Views,Rating on the Video,Number of Ratings,Number of Comments,Related Video IDs
0,count,4066,4066,4066,4066,4066,4066,4066,4066,4066,4066
1,mean,None,1.5376751983333333E9,956.7144613871127,None,232.90629611411705,194695.10944417116,3.7562592228234193,588.5696015740285,534.873831775701,None
2,stddev,None,3.7656233115157094E9,214.1813221148062,None,219.47567245418742,1488250.2854682275,1.6787591038040413,3767.8937760638273,5032.528303622258,None
3,min,-08YZF87OBQ,000ILoveNaruto000,0.0,UNA,1,0,0.0,0,0,
4,max,zzlDKaXAIgE,zzzzzzzzap,1136.0,Travel & Events,5202,65341925,5.0,122129,259683,"zzlDKaXAIgE,e_Oun_GTKDo,4ira1eUOQGY,RWS45QqP1l..."

In [127]:
null_count=data.filter(data["Related Video IDs"].isNull()).count()
null_count

0

In [128]:
data.select('Related Video IDs').toPandas()

                                      Related Video IDs
0     nRcovJn9xHg,3TYqkBJ9YRk,rSJ8QZWBegU,0TZqX5MbXM...
1     gFa1YMEJFag,UEvVksP91kg,rSJ8QZWBegU,nRcovJn9xH...
2     gFa1YMEJFag,UEvVksP91kg,3TYqkBJ9YRk,nRcovJn9xH...
3     gFa1YMEJFag,UEvVksP91kg,3TYqkBJ9YRk,ZTopArY7Nb...
4     QuRYeRnAuXM,3TYqkBJ9YRk,0TZqX5MbXMA,rSJ8QZWBeg...
...                                                 ...
4061  vOskZNJJII8,q3qdBVDZrmE,mLDLe024T_I,bhLbFGVduT...
4062
4063  vOskZNJJII8,_X5nHLOiAVo,cNION6wGuso,5-reBn0gUk...
4064  _X5nHLOiAVo,5-reBn0gUkg,e8bEzU2Tx7c,e4yx1s-l6f...
4065  EOj-iWkcJPU,pg3j4IBMRZE,2GHiAEeFQs0,e4yx1s-l6f...

[4066 rows x 1 columns]

In [129]:
data[data['Related Video IDs']==''].count()

827

In [130]:
# Replace empty strings with null in 'Related Video IDs'
data_cleaned = data.withColumn(
    'Related Video IDs',
    when(col('Related Video IDs') == '', None).otherwise(col('Related Video IDs'))
)

In [131]:
data_cleaned[data_cleaned['Related Video IDs']==''].count()

0

In [132]:
data=data_cleaned

In [133]:
data.count()

4066

In [134]:
data.dropna()

DataFrame[Video ID: string, Video Uploader: string, Interval between YouTube Establishment and Video Upload: double, Video Category: string, Video Length: int, Number of Views: int, Rating on the Video: double, Number of Ratings: int, Number of Comments: int, Related Video IDs: string]

In [135]:
data.count()

4066

In [136]:
data = data.filter(col('Related Video IDs').isNotNull())

In [137]:
data.count()

3239

In [138]:
data.toPandas()

,Video ID,Video Uploader,Interval between YouTube Establishment and Video Upload,Video Category,Video Length,Number of Views,Rating on the Video,Number of Ratings,Number of Comments,Related Video IDs
0,QuRYeRnAuXM,EvilSquirrelPictures,1135.0,Pets & Animals,252,1075,4.96,46,86,"nRcovJn9xHg,3TYqkBJ9YRk,rSJ8QZWBegU,0TZqX5MbXM..."
1,3TYqkBJ9YRk,hggh22,1135.0,Comedy,169,228,5.00,5,3,"gFa1YMEJFag,UEvVksP91kg,rSJ8QZWBegU,nRcovJn9xH..."
2,rSJ8QZWBegU,TimeGem,1135.0,Entertainment,95,356,4.31,13,1,"gFa1YMEJFag,UEvVksP91kg,3TYqkBJ9YRk,nRcovJn9xH..."
3,nRcovJn9xHg,wooochacha,1135.0,Entertainment,118,1115,2.23,57,73,"gFa1YMEJFag,UEvVksP91kg,3TYqkBJ9YRk,ZTopArY7Nb..."
4,UEvVksP91kg,johnx113,1135.0,Entertainment,83,281,2.67,9,16,"QuRYeRnAuXM,3TYqkBJ9YRk,0TZqX5MbXMA,rSJ8QZWBeg..."
...,...,...,...,...,...,...,...,...,...,...
3234,S95602a7cFE,mattCTB,1045.0,Entertainment,87,39885,4.51,63,131,"bLAP45F4UCw,URIaUbRjIrU,x2TUkfeO-gM,Ydm5IedLYS..."
3235,esCvu46qDaA,RSMFD,863.0,Entertainment,63,116929,4.84,182,222,"vOskZNJJII8,q3qdBVDZrmE,mLDLe024T_I,bhLbFGVduT..."
3236,GSsVZcKHues,GTASite,1024.0,Entertainment,123,486752,4.86,1098,1764,"vOskZNJJII8,_X5nHLOiAVo,cNION6wGuso,5-reBn0gUk..."
3237,foKRqJGcbPQ,scrambledeggsTV,1100.0,Entertainment,136,13115,4.45,33,37,"_X5nHLOiAVo,5-reBn0gUkg,e8bEzU2Tx7c,e4yx1s-l6f..."
3238,-CYhSNHbeC8,rehab07,771.0,Entertainment,186,103556,4.30,277,220,"EOj-iWkcJPU,pg3j4IBMRZE,2GHiAEeFQs0,e4yx1s-l6f..."

In [139]:
# # Define the directory path to save the CSV files in DBFS
# output_path = 'D:/OneDrive - TVS Motor Company Ltd/Desktop/TRAINING/Day30/output.csv'

# # Export the DataFrame to a CSV file
# data.write.csv(output_path, header=True,mode='overwrite')

In [140]:
# List files in a directory
dbutils.fs.ls("/dbfs/Workspace/Users/d-user11@heu.ai/")

NameError: name 'dbutils' is not defined

In [ ]:
# # Read a CSV file from DBFS
# dfo = spark.read.csv("/dbfs/Workspace/Users/d-user11@heu.ai/output.csv", header=True, inferSchema=True)
# dfo.toPandas()

In [ ]:
# Analysis and Insights
# 1. Top Video Categories
# Objective: Find the top video categories with the maximum number of videos uploaded.

In [ ]:
# Group by 'Category' and count the number of videos in each category
category_data = data.groupBy('Video Category').count()

# Display the result
category_data.toPandas()

           Video Category  count
0               Education     43
1           Entertainment    715
2         Travel & Events     60
3    Science & Technology     74
4                  Sports    205
5           Howto & Style    111
6   Nonprofits & Activism     34
7        Film & Animation    204
8          People & Blogs    306
9         News & Politics    268
10         Pets & Animals     70
11       Autos & Vehicles     62
12                  Music    741
13                 Comedy    346

In [ ]:
from pyspark.sql import functions as F

In [ ]:
# Group by 'Video Category' and count the number of videos in each category
category_data = data.groupBy('Video Category').count()

# Sort the result by 'count' in descending order
sorted_category_data = category_data.orderBy(F.desc('count'))

# Display the result
sorted_category_data.show()

+--------------------+-----+
|      Video Category|count|
+--------------------+-----+
|               Music|  741|
|       Entertainment|  715|
|              Comedy|  346|
|      People & Blogs|  306|
|     News & Politics|  268|
|              Sports|  205|
|    Film & Animation|  204|
|       Howto & Style|  111|
|Science & Technology|   74|
|      Pets & Animals|   70|
|    Autos & Vehicles|   62|
|     Travel & Events|   60|
|           Education|   43|
|Nonprofits & Acti...|   34|
+--------------------+-----+

In [ ]:
# Convert to Pandas DataFrame
sorted_category_df = sorted_category_data.toPandas()
print(sorted_category_df)

           Video Category  count
0                   Music    741
1           Entertainment    715
2                  Comedy    346
3          People & Blogs    306
4         News & Politics    268
5                  Sports    205
6        Film & Animation    204
7           Howto & Style    111
8    Science & Technology     74
9          Pets & Animals     70
10       Autos & Vehicles     62
11        Travel & Events     60
12              Education     43
13  Nonprofits & Activism     34

In [ ]:
# Sort the result by 'count' in descending order
sorted_category_data = category_data.orderBy(F.desc('count')).limit(10)

# Display the result
sorted_category_data.show()

+--------------------+-----+
|      Video Category|count|
+--------------------+-----+
|               Music|  741|
|       Entertainment|  715|
|              Comedy|  346|
|      People & Blogs|  306|
|     News & Politics|  268|
|              Sports|  205|
|    Film & Animation|  204|
|       Howto & Style|  111|
|Science & Technology|   74|
|      Pets & Animals|   70|
+--------------------+-----+

In [ ]:
# 2. Top Rated Videos
# Objective: Identify the top-rated videos on YouTube.

In [ ]:
df=data.select('Video ID','Rating on the Video')

In [ ]:
df.toPandas()

         Video ID  Rating on the Video
0     QuRYeRnAuXM                 4.96
1     3TYqkBJ9YRk                 5.00
2     rSJ8QZWBegU                 4.31
3     nRcovJn9xHg                 2.23
4     UEvVksP91kg                 2.67
...           ...                  ...
3234  S95602a7cFE                 4.51
3235  esCvu46qDaA                 4.84
3236  GSsVZcKHues                 4.86
3237  foKRqJGcbPQ                 4.45
3238  -CYhSNHbeC8                 4.30

[3239 rows x 2 columns]

In [ ]:
sorted_rating_data=df.orderBy('Rating on the Video',ascending=False)

In [ ]:
sorted_rating_data.show()

+-----------+-------------------+
|   Video ID|Rating on the Video|
+-----------+-------------------+
|nPEOr55j0Fs|                5.0|
|5vLbA7n8EG0|                5.0|
|f9_yEORBJK0|                5.0|
|3TYqkBJ9YRk|                5.0|
|4z31fXh-UEY|                5.0|
|Y_hAXbgxXp8|                5.0|
|p3KqyCDaH28|                5.0|
|osqnkdc349s|                5.0|
|muaTrM7Ouxw|                5.0|
|2hZx3yBoNw4|                5.0|
|bIP1V1u2q-E|                5.0|
|Cj_S_rut3LQ|                5.0|
|zokUPp_nj_c|                5.0|
|IU78CciLDh8|                5.0|
|AkYFKuGJEsE|                5.0|
|L3mR8syHNIg|                5.0|
|l6-J82_3utA|                5.0|
|-zDIXUSL174|                5.0|
|Zs4H9Itl40c|                5.0|
|YZev1imoxX8|                5.0|
+-----------+-------------------+
only showing top 20 rows

In [ ]:
sorted_rating_data.limit(10).show()

+-----------+-------------------+
|   Video ID|Rating on the Video|
+-----------+-------------------+
|Cj_S_rut3LQ|                5.0|
|AkYFKuGJEsE|                5.0|
|ZEDYzwdqHrU|                5.0|
|3TYqkBJ9YRk|                5.0|
|5vLbA7n8EG0|                5.0|
|osqnkdc349s|                5.0|
|L3mR8syHNIg|                5.0|
|-zDIXUSL174|                5.0|
|Y_hAXbgxXp8|                5.0|
|p3KqyCDaH28|                5.0|
+-----------+-------------------+

In [ ]:
# 3. Evolution of Uploaded Videos Over Time
# Objective: Analyze how the number of videos uploaded has changed over time.

In [ ]:
# Group by 'Upload Interval' and count the number of videos uploaded
upload_trend = data.groupBy('Interval between YouTube Establishment and Video Upload').count()

In [ ]:
display(upload_trend)

DataFrame[Interval between YouTube Establishment and Video Upload: double, count: bigint]

In [ ]:
# Sort the result by 'Upload Interval' in ascending order to see the trend over time
upload_trend = upload_trend.orderBy(asc('Interval between YouTube Establishment and Video Upload'))

# Display the result
upload_trend.toPandas()

     Interval between YouTube Establishment and Video Upload  count
0                                                215.0            1
1                                                265.0            1
2                                                284.0            1
3                                                285.0            1
4                                                286.0            1
..                                                 ...          ...
660                                             1132.0           59
661                                             1133.0           98
662                                             1134.0          161
663                                             1135.0          198
664                                             1136.0           30

[665 rows x 2 columns]

In [ ]:
# Sort the result by 'Count' in descending order to see the trend over time
upload_trend = upload_trend.orderBy(desc('count'))

# Display the result
upload_trend.toPandas()

     Interval between YouTube Establishment and Video Upload  count
0                                               1135.0          198
1                                               1134.0          161
2                                               1133.0           98
3                                               1131.0           77
4                                               1132.0           59
..                                                 ...          ...
660                                              398.0            1
661                                              382.0            1
662                                              512.0            1
663                                              814.0            1
664                                              505.0            1

[665 rows x 2 columns]

In [ ]:
# 4. Correlation between Establishment Interval and Video Popularity
# Objective: Investigate if there is a correlation between the interval between YouTube establishment and video upload date and video popularity.

In [ ]:
# Select relevant columns for correlation analysis
columns_for_corr = [
    'Interval between YouTube Establishment and Video Upload',
    'Number of Views',
    'Rating on the Video',
    'Number of Ratings',
    'Number of Comments'
]

In [ ]:
# Filter the data to include only the relevant columns
filtered_data = data.select(columns_for_corr)

In [ ]:
# Calculate the correlation between 'Interval between YouTube Establishment and Video Upload' and other metrics
correlation_views = filtered_data.stat.corr('Interval between YouTube Establishment and Video Upload', 'Number of Views')
correlation_ratings = filtered_data.stat.corr('Interval between YouTube Establishment and Video Upload', 'Rating on the Video')
correlation_num_ratings = filtered_data.stat.corr('Interval between YouTube Establishment and Video Upload', 'Number of Ratings')
correlation_comments = filtered_data.stat.corr('Interval between YouTube Establishment and Video Upload', 'Number of Comments')

In [ ]:
# Display the correlation results
print(f"Correlation between Interval and Number of Views: {correlation_views}")
print(f"Correlation between Interval and Rating on the Video: {correlation_ratings}")
print(f"Correlation between Interval and Number of Ratings: {correlation_num_ratings}")
print(f"Correlation between Interval and Number of Comments: {correlation_comments}")

Correlation between Interval and Number of Views: -0.15727255139253954
Correlation between Interval and Rating on the Video: -0.2274867398784343
Correlation between Interval and Number of Ratings: -0.1184893103517689
Correlation between Interval and Number of Comments: -0.05905373629326029

In [ ]:
# Correlation Coefficients:
# The correlation coefficient ranges from -1 to 1.
# A value closer to 1 indicates a strong positive correlation.
# A value closer to -1 indicates a strong negative correlation.
# A value near 0 indicates no correlation.

In [ ]:
df=data
display(df)

DataFrame[Video ID: string, Video Uploader: string, Interval between YouTube Establishment and Video Upload: double, Video Category: string, Video Length: int, Number of Views: int, Rating on the Video: double, Number of Ratings: int, Number of Comments: int, Related Video IDs: string]

In [ ]:
# Create the "Video Popularity" column by summing the specified columns
# If you need to apply weights, you can multiply each column by its respective weight before summing
df = df.withColumn(
    'Video Popularity',
    F.col('Number of Views') + F.col('Rating on the Video') + F.col('Number of Ratings') + F.col('Number of Comments')
)

display(df)

DataFrame[Video ID: string, Video Uploader: string, Interval between YouTube Establishment and Video Upload: double, Video Category: string, Video Length: int, Number of Views: int, Rating on the Video: double, Number of Ratings: int, Number of Comments: int, Related Video IDs: string, Video Popularity: double]

In [ ]:
df=df.select(['Interval between YouTube Establishment and Video Upload','Video Popularity'])

In [ ]:
df.toPandas()

,Interval between YouTube Establishment and Video Upload,Video Popularity
0,1135.0,1211.96
1,1135.0,241.00
2,1135.0,374.31
3,1135.0,1247.23
4,1135.0,308.67
...,...,...
3234,1045.0,40083.51
3235,863.0,117337.84
3236,1024.0,489618.86
3237,1100.0,13189.45
3238,771.0,104057.30

In [ ]:
df=df.orderBy(desc('Video Popularity'))
df.toPandas()

,Interval between YouTube Establishment and Video Upload,Video Popularity
0,404.0,65356625.03
1,933.0,33877912.84
2,807.0,27804548.88
3,937.0,18617277.42
4,857.0,18194029.83
...,...,...
3234,1134.0,8.00
3235,1135.0,8.00
3236,1135.0,7.00
3237,1135.0,5.00
3238,1135.0,0.00

In [ ]:
# Normalize the Video Popularity Column using Min-Max Normalization

In [ ]:
# Calculate the minimum and maximum values of the column
min_value = df.agg(F.min('Video Popularity')).collect()[0][0]
max_value = df.agg(F.max('Video Popularity')).collect()[0][0]

print(min_value,max_value)

0.0 65356625.03

In [ ]:
# Normalized Value= (Original Value−Min Value) / (Max Value−Min Value)

In [ ]:
# Normalize the column 'Video Popularity' to the range 0-1
df = df.withColumn('Normalized Video Popularity',(F.col('Video Popularity') - min_value)/ (max_value -min_value))

In [ ]:
df.show()

+-------------------------------------------------------+----------------+---------------------------+
|Interval between YouTube Establishment and Video Upload|Video Popularity|Normalized Video Popularity|
+-------------------------------------------------------+----------------+---------------------------+
|                                                  404.0|   6.535662503E7|                        1.0|
|                                                  933.0|   3.387791284E7|         0.5183546859166819|
|                                                  807.0|   2.780454888E7|         0.4254281622901604|
|                                                  937.0|   1.861727742E7|         0.2848567748327625|
|                                                  857.0|   1.819402983E7|         0.2783808041135627|
|                                                  796.0|   1.705428723E7|          0.260941981354939|
|                                                  751.0|    1.30684338E7|        0.19995576261781156|
|                                                  848.0|   1.111287583E7|        0.17003441999795685|
|                                                  215.0|    1.02452809E7|         0.1567596382967635|
|                                                  529.0|      8967824.86|        0.13721370795819993|
|                                                  458.0|      8908592.61|         0.1363074149852563|
|                                                  857.0|      8380954.87|        0.12823420527227306|
|                                                  832.0|      8172224.64|        0.12504049338913667|
|                                                  932.0|      8035541.76|        0.12294915406527686|
|                                                  849.0|       8012639.9|        0.12259874031625773|
|                                                  284.0|      7576268.69|        0.11592196944873363|
|                                                  918.0|      7190516.81|        0.11001970812751435|
|                                                  484.0|      7069874.86|        0.10817380574279632|
|                                                  404.0|      6650761.73|        0.10176109502207568|
|                                                  998.0|      6153052.47|        0.09414581103561613|
+-------------------------------------------------------+----------------+---------------------------+
only showing top 20 rows

In [ ]:
df=df.select(["Interval between YouTube Establishment and Video Upload","Normalized Video Popularity"])

In [ ]:
df=df.orderBy(desc("Normalized Video Popularity"))
df.show()

+-------------------------------------------------------+---------------------------+
|Interval between YouTube Establishment and Video Upload|Normalized Video Popularity|
+-------------------------------------------------------+---------------------------+
|                                                  404.0|                        1.0|
|                                                  933.0|         0.5183546859166819|
|                                                  807.0|         0.4254281622901604|
|                                                  937.0|         0.2848567748327625|
|                                                  857.0|         0.2783808041135627|
|                                                  796.0|          0.260941981354939|
|                                                  751.0|        0.19995576261781156|
|                                                  848.0|        0.17003441999795685|
|                                                  215.0|         0.1567596382967635|
|                                                  529.0|        0.13721370795819993|
|                                                  458.0|         0.1363074149852563|
|                                                  857.0|        0.12823420527227306|
|                                                  832.0|        0.12504049338913667|
|                                                  932.0|        0.12294915406527686|
|                                                  849.0|        0.12259874031625773|
|                                                  284.0|        0.11592196944873363|
|                                                  918.0|        0.11001970812751435|
|                                                  484.0|        0.10817380574279632|
|                                                  404.0|        0.10176109502207568|
|                                                  998.0|        0.09414581103561613|
+-------------------------------------------------------+---------------------------+
only showing top 20 rows

In [ ]:
df=df.orderBy(asc("Normalized Video Popularity"))
df.show()

+-------------------------------------------------------+---------------------------+
|Interval between YouTube Establishment and Video Upload|Normalized Video Popularity|
+-------------------------------------------------------+---------------------------+
|                                                 1135.0|                        0.0|
|                                                 1135.0|       7.650333837931349E-8|
|                                                 1135.0|       1.071046737310388...|
|                                                 1134.0|       1.224053414069016E-7|
|                                                 1135.0|       1.224053414069016E-7|
|                                                 1136.0|       1.683073444344896...|
|                                                 1135.0|       1.836080121103523...|
|                                                 1136.0|       1.989086797862150...|
|                                                 1135.0|       1.989086797862150...|
|                                                 1135.0|       2.142093474620777...|
|                                                 1134.0|       2.295100151379404...|
|                                                 1133.0|       2.295100151379404...|
|                                                 1121.0|       2.601113504896659E-7|
|                                                 1135.0|       2.754120181655285...|
|                                                 1135.0|       2.907126858413912...|
|                                                 1128.0|       2.907126858413912...|
|                                                 1136.0|       2.907126858413912...|
|                                                 1135.0|       3.060133535172539...|
|                                                 1135.0|       3.060133535172539...|
|                                                 1135.0|       3.060133535172539...|
+-------------------------------------------------------+---------------------------+
only showing top 20 rows

In [ ]:
# Calculate the correlation between 'Interval between YouTube Establishment and Video Upload' and 'Normalized Video Popularity'
correlation_popularity = df.stat.corr('Interval between YouTube Establishment and Video Upload', 'Normalized Video Popularity')

# Display the correlation result
print(f"Correlation between Interval and Video Popularity: {correlation_popularity}")

Correlation between Interval and Video Popularity: -0.15727575962518572

In [ ]:
# 5. Video Categories with Highest Average Ratings
# Objective: Determine which video categories have the highest average ratings. Sort videos in decreasing order of their ratings.

In [ ]:
df=data.select(["Video Category","Rating on the Video"])
df.show()

+----------------+-------------------+
|  Video Category|Rating on the Video|
+----------------+-------------------+
|  Pets & Animals|               4.96|
|          Comedy|                5.0|
|   Entertainment|               4.31|
|   Entertainment|               2.23|
|   Entertainment|               2.67|
|  People & Blogs|               3.67|
|   Entertainment|                0.0|
|   Entertainment|               2.31|
|          Comedy|               2.09|
|   Entertainment|                0.0|
|          Comedy|               4.65|
|   Entertainment|                5.0|
| News & Politics|               4.39|
|          Comedy|                4.5|
| News & Politics|               4.71|
|          Comedy|               1.57|
|          Comedy|                4.8|
|          Comedy|               4.07|
|Film & Animation|               4.07|
|   Entertainment|               4.43|
+----------------+-------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql import functions as F

# Group by 'Video Category' and calculate the average rating
category_avg_rating = data.groupBy('Video Category').agg(avg('Rating on the Video').alias('Average Rating'))

# Sort the categories by the average rating in descending order
sorted_categories = category_avg_rating.orderBy(desc('Average Rating'))

# Display the result
sorted_categories.toPandas()

           Video Category  Average Rating
0                   Music        4.360256
1        Film & Animation        4.317843
2        Autos & Vehicles        4.000645
3          Pets & Animals        3.931000
4                  Sports        3.910976
5           Entertainment        3.894280
6         News & Politics        3.841567
7          People & Blogs        3.829314
8                  Comedy        3.747225
9         Travel & Events        3.682333
10          Howto & Style        3.640901
11              Education        3.438605
12  Nonprofits & Activism        3.334118
13   Science & Technology        3.296892

In [ ]:
# 6. Video Length and Views Relationship
# Objective: Explore the relationship between video length and the number of views.

In [ ]:
df = data.select("Video Length", "Number of Views")
df.show()

+------------+---------------+
|Video Length|Number of Views|
+------------+---------------+
|         252|           1075|
|         169|            228|
|          95|            356|
|         118|           1115|
|          83|            281|
|          49|           1196|
|         145|             11|
|           9|            490|
|          14|           1349|
|          61|             29|
|         152|         483053|
|         253|             63|
|         173|         106929|
|         176|        2464486|
|         213|          46183|
|          14|           1550|
|         224|         392908|
|         200|         110272|
|         294|          71966|
|         168|         653840|
+------------+---------------+
only showing top 20 rows

In [ ]:
# Calculate the correlation between 'Video Length' and 'Number of Views'
correlation = data.stat.corr('Video Length', 'Number of Views')

# Display the correlation value
print(f"Correlation between Video Length and Number of Views: {correlation}")

Correlation between Video Length and Number of Views: 0.022353016193049476

In [ ]:
# 7. Comments vs. Ratings
# Objective: Investigate whether videos with more comments tend to have higher ratings.

In [ ]:
df=data.select(["Video ID","Number of Comments","Rating on the Video"])
df.toPandas()

         Video ID  Number of Comments  Rating on the Video
0     QuRYeRnAuXM                  86                 4.96
1     3TYqkBJ9YRk                   3                 5.00
2     rSJ8QZWBegU                   1                 4.31
3     nRcovJn9xHg                  73                 2.23
4     UEvVksP91kg                  16                 2.67
...           ...                 ...                  ...
3234  S95602a7cFE                 131                 4.51
3235  esCvu46qDaA                 222                 4.84
3236  GSsVZcKHues                1764                 4.86
3237  foKRqJGcbPQ                  37                 4.45
3238  -CYhSNHbeC8                 220                 4.30

[3239 rows x 3 columns]

In [ ]:
df.orderBy(desc("Number of Comments")).toPandas()

         Video ID  Number of Comments  Rating on the Video
0     kHmvkRoEowc              259683                 2.42
1     EwTZ2xpQwpA              129200                 4.23
2     4DC4Rb9quKk               50036                 4.84
3     Qit3ALTelOo               39418                 4.76
4     UW_1CvDFYVg               33543                 4.11
...           ...                 ...                  ...
3234  S2w71WtHlYw                   0                 0.00
3235  HyhoLnfqq3o                   0                 3.00
3236  St1NTAvmCIE                   0                 0.00
3237  RxE8Fl3UBc8                   0                 0.00
3238  i4QdWYCoLYs                   0                 5.00

[3239 rows x 3 columns]

In [ ]:
# Calculate the correlation between 'Number of Comments' and 'Rating on the Video'
correlation_comments_ratings = df.corr('Number of Comments', 'Rating on the Video')

# Display the correlation value
print(f"Correlation between Number of Comments and Rating on the Video: {correlation_comments_ratings}")

Correlation between Number of Comments and Rating on the Video: 0.019790520034241522

In [ ]:
# 8. Top Video Uploaders
# Objective: Identify the top video uploaders based on the number of views or ratings.

In [ ]:
# Group by 'Video Uploader' and aggregate by the sum of 'Number of Views'
top_uploaders_by_views = data.groupBy('Video Uploader').agg(sum('Number of Views').alias('Total Views'))

# Sort the uploaders in descending order of views
top_uploaders_by_views = top_uploaders_by_views.orderBy(desc('Total Views'))

# Display the top 10 uploaders by views
top_uploaders_by_views.show(10)

+---------------+-----------+
| Video Uploader|Total Views|
+---------------+-----------+
|        kaejane|   65341925|
|   ChrisBrownTV|   33754615|
|    TPainVideos|   30197909|
|       Jason275|   27721690|
|itschriscrocker|   23473833|
|      TayZonday|   20340997|
|       RKellyTV|   13038204|
|      machinima|   11437210|
|    TownIdiot25|   11007201|
|    Frozentoast|   10172172|
+---------------+-----------+
only showing top 10 rows

In [ ]:
# Group by 'Video Uploader' and aggregate by the average of 'Rating on the Video'
top_uploaders_by_rating = data.groupBy('Video Uploader').agg(avg('Rating on the Video').alias('Average Rating'))

# Sort the uploaders in descending order of average rating
top_uploaders_by_rating = top_uploaders_by_rating.orderBy(desc('Average Rating'))

# Display the top 10 uploaders by average rating
top_uploaders_by_rating.show(10)

+-------------------+--------------+
|     Video Uploader|Average Rating|
+-------------------+--------------+
|        Wolfwood824|           5.0|
|IxLOVExNICKxJONASSS|           5.0|
|           Jibriell|           5.0|
|         gospel1992|           5.0|
|      ANDREASGTRBMW|           5.0|
|            ODestre|           5.0|
|     manuel14091990|           5.0|
|   tokiohotelth4832|           5.0|
| kaibachaoschampion|           5.0|
|            CNTV121|           5.0|
+-------------------+--------------+
only showing top 10 rows

In [ ]:
# 9. Average Related Videos
# Objective: Determine how many related videos, on average, are associated with each video.

In [ ]:
# Step 1: Count the number of related videos for each video
# Split the 'Related Video IDs' column by a delimiter (e.g., comma, tab) and count the number of elements
df = data.withColumn('Number of Related Videos', size(split(data['Related Video IDs'], ',')))

In [ ]:
df.select(["Video ID","Number of Related Videos"]).orderBy(desc('Number of Related Videos')).toPandas()

         Video ID  Number of Related Videos
0     QuRYeRnAuXM                        13
1     3TYqkBJ9YRk                        13
2     rSJ8QZWBegU                        13
3     nRcovJn9xHg                        13
4     UEvVksP91kg                        13
...           ...                       ...
3234  RqBWgTXbHsk                         4
3235  U8cmRdpcePc                         4
3236  1suivhh78jE                         4
3237  9eohCbgOwIk                         4
3238  Do9XMt1Tdgs                         1

[3239 rows x 2 columns]

In [ ]:
# Step 2: Calculate the average number of related videos

from pyspark.sql.functions import avg # type: ignore

from pyspark.sql.functions import split, size, avg

# Step 1: Create the `Number of Related Videos` column
data_with_related_count = data.withColumn('Number of Related Videos', size(split('Related Video IDs', ',')))

# Step 2: Calculate the average number of related videos
average_related_videos = data_with_related_count.agg(avg('Number of Related Videos').alias('Average Related Videos')).first()

# Display the result
print(average_related_videos['Average Related Videos'])

12.878357517752393

In [ ]:
# 11. Overall Platform Engagement
# Objective: Evaluate the overall engagement level on the platform by analyzing the total number of views, ratings, and comments.

In [ ]:
# Step 1: Sum the total number of views
total_views = data.agg(sum('Number of Views').alias('Total Views')).first()

# Step 2: Sum the total number of ratings
total_ratings = data.agg(sum('Number of Ratings').alias('Total Ratings')).first()

# Step 3: Sum the total number of comments
total_comments = data.agg(sum('Number of Comments').alias('Total Comments')).first()

# Display the overall engagement metrics
overall_engagement = {
    "Total Views": total_views['Total Views'],
    "Total Ratings": total_ratings['Total Ratings'],
    "Total Comments": total_comments['Total Comments']
}

overall_engagement

{'Total Views': 784817870, 'Total Ratings': 2376096, 'Total Comments': 2160663}

In [142]:
# 1. Find the average interval between YouTube establishment and video upload for each video category.

In [143]:
from pyspark.sql.functions import avg

# Group by 'Video Category' and calculate the average interval
average_interval_df = data.groupBy("Video Category").agg(
    avg("Interval between YouTube Establishment and Video Upload").alias("Average Interval")
)

# Show the result
average_interval_df.show()

+--------------------+------------------+
|      Video Category|  Average Interval|
+--------------------+------------------+
|           Education|1077.5581395348838|
|       Entertainment|             964.4|
|     Travel & Events| 938.7833333333333|
|Science & Technology|1097.7432432432433|
|              Sports| 928.9707317073171|
|       Howto & Style| 947.6486486486486|
|Nonprofits & Acti...|1114.2058823529412|
|    Film & Animation| 917.6421568627451|
|      People & Blogs|1029.1274509803923|
|     News & Politics|1033.1305970149253|
|      Pets & Animals| 862.1571428571428|
|    Autos & Vehicles| 972.4354838709677|
|               Music| 934.7462887989204|
|              Comedy| 942.6127167630058|
+--------------------+------------------+

In [144]:
# 2. Identify the top three video uploaders with the highest average number of views for videos longer than 10 minutes.

In [145]:
# Step 1: Filter Videos Longer Than 10 Minutes
# First, filter the DataFrame to include only videos longer than 10 minutes.

# Step 2: Group by Uploader and Calculate the Average Views
# Then, group the data by the uploader and calculate the average number of views for each uploader.

# Step 3: Sort and Get the Top Three Uploaders
# Finally, sort the uploaders by their average views in descending order and select the top three.

In [149]:
from pyspark.sql.functions import col, avg, desc

# Step 1: Filter videos longer than 10 minutes using the correct column name 'Video Length'
videos_longer_than_10_min = data.filter(col("Video Length") > 10)

# Step 2: Group by 'Video Uploader' and calculate the average views
average_views_df = videos_longer_than_10_min.groupBy("Video Uploader").agg(
    avg("Number of Views").alias("Average Views")
)

# Step 3: Sort by average views in descending order and select the top 3 uploaders
top_uploaders = average_views_df.orderBy(desc("Average Views")).limit(3)

# Display the result
top_uploaders.show()

+--------------+-------------+
|Video Uploader|Average Views|
+--------------+-------------+
|       kaejane|  6.5341925E7|
|  ChrisBrownTV|  3.3754615E7|
|      Jason275|   2.772169E7|
+--------------+-------------+

In [148]:
data.show()

+-----------+--------------------+-------------------------------------------------------+----------------+------------+---------------+-------------------+-----------------+------------------+--------------------+
|   Video ID|      Video Uploader|Interval between YouTube Establishment and Video Upload|  Video Category|Video Length|Number of Views|Rating on the Video|Number of Ratings|Number of Comments|   Related Video IDs|
+-----------+--------------------+-------------------------------------------------------+----------------+------------+---------------+-------------------+-----------------+------------------+--------------------+
|QuRYeRnAuXM|EvilSquirrelPictures|                                                 1135.0|  Pets & Animals|         252|           1075|               4.96|               46|                86|nRcovJn9xHg,3TYqk...|
|3TYqkBJ9YRk|              hggh22|                                                 1135.0|          Comedy|         169|            228|                5.0|                5|                 3|gFa1YMEJFag,UEvVk...|
|rSJ8QZWBegU|             TimeGem|                                                 1135.0|   Entertainment|          95|            356|               4.31|               13|                 1|gFa1YMEJFag,UEvVk...|
|nRcovJn9xHg|          wooochacha|                                                 1135.0|   Entertainment|         118|           1115|               2.23|               57|                73|gFa1YMEJFag,UEvVk...|
|UEvVksP91kg|            johnx113|                                                 1135.0|   Entertainment|          83|            281|               2.67|                9|                16|QuRYeRnAuXM,3TYqk...|
|sVkuOk4jmCo|       marcosoycadiz|                                                 1135.0|  People & Blogs|          49|           1196|               3.67|                6|                 5|sLrWjhvCoW8,dergW...|
|ZTopArY7Nbg|         TroyChannel|                                                 1136.0|   Entertainment|         145|             11|                0.0|                0|                 0|pQPhV1mzh-g,NeIGd...|
|0RViGi2Rne8|        OmnipotentSI|                                                 1135.0|   Entertainment|           9|            490|               2.31|               26|                15|nRcovJn9xHg,0TZqX...|
|HT_QlOJbDpg|   dumbasstheredneck|                                                 1095.0|          Comedy|          14|           1349|               2.09|               22|                13|jVxz9wKEa3A,mUoRI...|
|ShhClb6J-NA|         thecrashguy|                                                 1136.0|   Entertainment|          61|             29|                0.0|                0|                 0|6DK-CJh6hTY,SArJy...|
|g9e1alirMhc|      iamdanielisaac|                                                  541.0|          Comedy|         152|         483053|               4.65|             2689|              2932|1GKaVzNDbuI,Bd61L...|
|YZev1imoxX8|     threefirstnames|                                                 1135.0|   Entertainment|         253|             63|                5.0|                3|                 2|-UvVtpmh4EQ,Bzwpv...|
|I4yKEK9o8gA|           djlogitek|                                                  964.0| News & Politics|         173|         106929|               4.39|             1010|              1484|1GKaVzNDbuI,qCUYg...|
|1GKaVzNDbuI|             fatvids|                                                  690.0|          Comedy|         176|        2464486|                4.5|            13342|             11997|g9e1alirMhc,UrNqx...|
|yuZhwV24PmM|          weneedhelp|                                                 1082.0| News & Politics|         213|          46183|               4.71|              280|               247|xq8aopATYyw,g9e1a...|
|zQ83d_D2MGs|   dumbasstheredneck|                                                 1095.0|          Comedy|          14|           1550|               1.57|               14|                 4|cdbp6rCVzRs,gAHZ7...|
|DomumdGQSg8|           imgrown18|                                                  910.0|          Comedy|         224|         392908|                4.8|             1261|               829|eOIFF_5ORGo,n7rlp...|
|pFUYi7dp1WU|      StanleyJenkins|                                                 1106.0|          Comedy|         200|         110272|               4.07|             1011|               482|ue5lVJuNlzQ,AkjUO...|
|2l6vwAIAqNU|        makemagazine|                                                  460.0|Film & Animation|         294|          71966|               4.07|              260|               229|hiSmlmXp-aU,I4yKE...|
|hiSmlmXp-aU|       bravenewfilms|                                                  440.0|   Entertainment|         168|         653840|               4.43|              198|               377|IBqQWAjBgmE,EGzHB...|
+-----------+--------------------+-------------------------------------------------------+----------------+------------+---------------+-------------------+-----------------+------------------+--------------------+
only showing top 20 rows

In [150]:
# 3. Calculate the average rating and engagement (comments + ratings) for videos in each category.

In [151]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, avg, sum


# Calculate average rating and engagement for each video category
category_stats = data.groupBy("Video Category").agg(
    avg(col("Rating on the Video")).alias("Average Rating"),
    avg((col("Number of Comments") + col("Number of Ratings"))).alias("Average Engagement")
)

# Show the result
category_stats.show()

+--------------------+------------------+------------------+
|      Video Category|    Average Rating|Average Engagement|
+--------------------+------------------+------------------+
|           Education|3.4386046511627906|192.58139534883722|
|       Entertainment| 3.894279720279721|1940.6755244755245|
|     Travel & Events|3.6823333333333337|            1162.7|
|Science & Technology| 3.296891891891892| 662.6891891891892|
|              Sports|3.9109756097560946|412.54146341463417|
|       Howto & Style| 3.640900900900901|1078.7207207207207|
|Nonprofits & Acti...| 3.334117647058824|              71.5|
|    Film & Animation| 4.317843137254902| 611.5343137254902|
|      People & Blogs| 3.829313725490196| 666.9738562091503|
|     News & Politics|3.8415671641791045| 504.7425373134328|
|      Pets & Animals|3.9309999999999996| 3911.385714285714|
|    Autos & Vehicles| 4.000645161290323| 87.14516129032258|
|               Music|4.3602564102564125|1847.3859649122808|
|              Comedy| 3.747225433526014|2032.1473988439307|
+--------------------+------------------+------------------+

In [152]:
# 4. Find the correlation between video length and the number of views.

In [153]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import corr

# Calculate the correlation between video length and the number of views
correlation = data.select(corr("Video Length", "Number of Views").alias("Correlation")).collect()[0][0]

# Show the result
print(f"The correlation between video length and number of views is: {correlation}")

The correlation between video length and number of views is: 0.022353016193049476

In [155]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import corr

# Calculate the correlation between video length and the number of views
correlation = data.corr("Video Length", "Number of Views")

# Show the result
print(f"The correlation between video length and number of views is: {correlation}")

The correlation between video length and number of views is: 0.022353016193049476

In [156]:
# 5. Identify the most common related video IDs across all videos.

In [157]:
from pyspark.sql.functions import explode, split, col
from pyspark.sql import functions as F

# Assuming 'Related Video IDs' is a string column with IDs separated by commas

# Step 1: Split the 'Related Video IDs' column into an array of IDs
split_related_videos = data.withColumn("Related_Video_IDs_Array", split(col("Related Video IDs"), ","))

# Step 2: Explode the array into individual rows for each related video ID
exploded_related_videos = split_related_videos.withColumn("Related_Video_ID", explode(col("Related_Video_IDs_Array")))

# Step 3: Count occurrences of each related video ID
related_video_count = exploded_related_videos.groupBy("Related_Video_ID").count()

# Step 4: Sort the counts in descending order to identify the most common related video IDs
most_common_related_videos = related_video_count.orderBy(col("count").desc())

# Show the result (top 10 most common related video IDs)
most_common_related_videos.show(10, truncate=False)

+----------------+-----+
|Related_Video_ID|count|
+----------------+-----+
|grF934eZqMs     |27   |
|bjAuzPnJ82A     |24   |
|2hZx3yBoNw4     |22   |
|SgMeFJBJCYU     |22   |
|oAdyimiHqNs     |20   |
|-qczUcQ-VjM     |19   |
|TKe2rBbGGEA     |19   |
|cCLosO7dQZo     |18   |
|T1LjUeLwmrU     |18   |
|-6M41YqM_xk     |18   |
+----------------+-----+
only showing top 10 rows